2- Data Management - XML DTD XSL/Factures/Gestion_de_factures/Gestion_de_factures/Gestion de factures.dtd


<!ELEMENT Gestion_Commande (Client,Produit)>
<!ELEMENT Client (Commande+)>
<!ELEMENT Commande (Ligne_Commande)>

<!ATTLIST Client 
	id ID #REQUIRED
	nom CDATA #REQUIRED
	prenom CDATA #REQUIRED >

<!ATTLIST Commande
	num ID #REQUIRED >

<!ATTLIST Ligne_Commande 
	Qte_cmd CDATA #REQUIRED
	Id_prod IDREF #REQUIRED >

<!ATTLIST Produit
	idP ID #REQUIRED
	nomP CDATA #REQUIRED >
	
	








