2- Data Management - XML DTD XSL/Factures/TP_XML/TP/doc.dtd


<!DOCTYPE gestiondecmd [
  <!ELEMENT gestiondecmd (client+,produit+)>
  <!ELEMENT client (cmd+)>
  <!ELEMENT cmd (ligne-cmd+)>
  <!ELEMENT ligne-cmd EMPTY>
  <!ATTLIST client
  
      nom CDATA #REQUIRED
	  id ID #REQUIRED
      <!ATTLIST cmd
	     type CDATA #REQUIRED
	     <!ATTLIST ligne-cmd
	     id IDREF #REQUIRED
		 qte CDATA #REQUIRED
	     >
   
      >
		 
		 
   >
]>