2- Data Management - XML DTD XSL/Autres/XSL-XML/Facture/facture.dtd

<!ELEMENT Gcommande (client,produit+)>
<!ELEMENT client (commande+)>
<!ELEMENT commande (ligne_commande+)>
<!ELEMENT ligne_commande (#PCDATA)>
<!ATTLIST ligne_commande qnt PCDATA #REQUIRED
                         refprod  IDREF #REQUIRED>

<!ELEMENT produit (#PCDATA)>                   
<!ATTLIST produit idprod ID #REQUIRED>                        
